<p>
	<%= f.label :Username %>
	<%= f.text_field :username, placeholder: 'first name',required: true %>
</p>

<p>
	<%= f.label :Password %>
	<%= f.password_field :password, placeholder: 'middle name',required: true %>
</p>