<h1> Your Login Page </h1>

<h2> Student records</h2>
<%= link_to render(:partial => 'students/showing'), root_url %>
<%= render 'students/showing' %>

<h2> Faculty records</h2>
<%= render 'faculties/showing' %>
