	<h2>If you are student please click the student button</h2>
	<form>
    <%= link_to '<button type="button">Student Forms Here</button>'.html_safe,new_student_path %> 
    <!--<input type="submit" value="Student" /> -->
    </form>
    <br>
    <h2>If you are faculty please click the faculty button</h2>
	<form>
    <%= link_to '<button type="button">Faculty Forms Here</button>'.html_safe,new_faculty_path %> 
    </form>
    <br>
    <h2>If you are admin please click the admin button</h2>
    <form >
    <%= link_to '<button type="button">Admins Login</button>'.html_safe, new_user_path %> 
    </form>